.menu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

.menu .link {
	width: 50%;
	text-decoration: none;
	color: darkturquoise;
	font-size: 48px;
}

.menu .link:hover {
	color: #fff;
}
